   .wrap{
	background: #eee;
	border:1px solid #999;
	padding:20px;
	  overflow: hidden;  
	/* clear:both;*/
	position:relative;
}
.wrap .con_left{
    background: #fff;
	border:1px solid #999;
	width:158px;
	padding: 20px;
}
.wrap .con_left span{
	float:right;
}
.wrap .middle{
	width:67%;
	background: #fff;
	border:1px solid #999;
	padding:0px 20px 0px 20px;
	position:absolute;
	top:20px;
	left:240px;
}
.wrap .con_right{
	margin-top: -126px;
	float:right;
	background: #fff;
	border:1px solid #999;
	width:78px;
	padding: 20px;
}
.wrap .con_right .gap{
	padding-bottom:14px;
}  